Build/
Util/alcommon/
Util/boost/

# Compiled Object files
*.slo
*.lo
*.o
!crtbeginS.o
!crtendS.o
!crti.o
!crtn.o
!crt1.o
!crtbegin.o
!crtend.o

# Compiled Dynamic libraries
*.so
*.dylib
!libc-2.13.so
!libm-2.13.so
!ld-2.13.so
!libpthread-2.13.so
!librt-2.13.so

# Compiled Static libraries
*.lai
*.la
*.a
!libptracking.a
!libptracking-32.a
!libode.a
!libc_nonshared.a
!libsnappy.a
!libgsl.a
!libgslcblas.a
!libjpeg-atom.a
!libjpeg.a
!libjpeg-x64.a
!libpthread_nonshared.a
