Build/
Util/alcommon/
Util/boost/

# Compiled Object files
*.slo
*.lo
*.o
!crtbeginS.o
!crtendS.o
!crti.o
!crtn.o

# Compiled Dynamic libraries
*.so
*.dylib
!libc-2.13.so
!libm-2.13.so
!ld-2.13.so

# Compiled Static libraries
*.lai
*.la
*.a
!libptracking.a
!libode.a
!c_nonshared.a
